
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

header {
    margin: 20px;
}

body {
    background-color: #5D5D66;
    
}

hr {
    width: 70%;
}

#CV {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: white;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#tabla1 td{
    padding-right: 90px;
}

td strong {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

td {
    font-family: sans-serif;
    font-size: 12px;
}

li {
    font-family: sans-serif;
    font-size: 14px;
}

p {
    font-family: sans-serif;
    font-size: 14px;
}

footer {
    background-color: #5D5D66;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    background-color: #8EF0FF;
    margin: 20px;
    border-radius: 8px;
    padding: 12px 15px;
    transition-duration: 0.4s;
    border: 1px solid lightblue ;
    
}

button:hover {
    background-color: #8EBAFF;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

section {
    width: 800px;
    background-color: white;
    padding: 20px 50px 40px;
    margin: auto;
    line-height: 20px;
}